@import "reveal-js/dist/theme/template/mixins";
@import "reveal-js/dist/theme/template/settings";

$backgroundColor: #fff;

$mainColor: #000;
$headingColor: #000;

$mainFontSize: 20px;
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2em;
$heading2Size: 1.4em;
$heading3Size: 1.2em;
$heading4Size: 1em;

@import "reveal-js/dist/theme/template/theme";

.reveal-viewport.reveal-scroll .scrollbar .scrollbar-playhead {
    background-color: $mainColor !important;
    opacity: 1 !important;
}
